@charset "utf-8";

@import "compass/css3";

@import "compass/reset";

table {
	border-collapse: collapse;
	border: 0 none;
}
table tr td {
	text-align: center;
	vertical-align: middle;
}
#funnythingz    td {background: url(images/bg_funnythingz.png) no-repeat right center;}
#hiropocouk     td {background: url(images/bg_hiropocouk.png) no-repeat left center;}
#mediaqueries   td {background: url(images/bg_mediaqueries.png) no-repeat right center;}
#makingmachinez td {background: url(images/bg_makingmachinez.png) no-repeat right bottom;}
#hackleberryme  td {background: url(images/bg_hackleberryme.png) no-repeat left bottom;}

.section {
	background: url(images/bg_left.png) no-repeat left center;
}
#fuck {
	background: url(images/bg_right.png) no-repeat right center;
}
