@charset "utf-8";
@import "compass/css3";


h1 {font-size: 100%;}
div {
	line-height: 1.5;
  font-size: 14px;
}
.gfc-tabsArea {zoom: 1;}
.gfc-tabHeader {
}
.gfc-tabhActive {
  background-color: #2ecc71;
  color: #fff !important;
}
.gfc-result {
  border: solid 1px #e1e2e3;
  @include border-radius(5px);
  padding: 6px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.gfc-resultsbox-visible {clear:both;}
