pre {
  @include border-radius(5px);
  padding: 10px;
  background: #49483e;
  color: #fff;
  margin-bottom: 1em;
}
pre, code, tt {
  font-size: 14px;
  font-family: "andale mono","lucida console",monospace;
  line-height: 1.4;
}

.highlight {
  margin-bottom: 1em;
  overflow: scroll;
  width: 100%;
}
