@import "compass/css3";
@import "monokai";

%_link_color {
  color: rgba(0,0,0,0.87)
}
a {
  @extend %_link_color;
  &:link {
    @extend %_link_color;
  }
  &:hover {
    text-decoration: underline;
  }
}

code {
  background-color: rgba(0,0,0,0.04);
  @include border-radius(3px);
  padding: 2px 4px;
  font-size: 13px;
  font-family: 'monaco';
}

.header {
  text-align: center;
  .logo {
    font-family: 'Schoolbell', cursive;
    color: #345;
    > a {
      color: #345;
    }
  }
}

.entry {
  > h1 {
    font-size: 24px;
  }

  .meta {
    margin-left: .5em;
    color: #789;
    font-size: 18px;
  }
}

.page-footer {
  h1 {
    font-size: 24px;
    margin: 0;
  }
}

.recent-list {
  li {
    line-height: 1.5;

    > .meta {
      margin-left: .5em;
      color: #789;
    }
  }
}

.copyright {
  margin: 0;
}
