---
pageable: true
per_page: 10
---

- if paginate && num_pages > 1
  p
    | Page
    = page_number
    |  of
    = num_pages
  - if prev_page
    p
      = link_to 'Previous page', prev_page
- page_articles.each_with_index do |article, i|
  article.entry
    h1
      = link_to article
        i.fa.fa-paper-plane-o
        |  #{article.title}
      span.meta
        = article.date.strftime('%b %e')
    = article.summary
    - unless article.summary == article.body
      = link_to article
        i.fa.fa-arrow-circle-right
        |  READ MORE
- if paginate
  - if next_page
    p
      = link_to 'Next page', next_page
